<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
    <h1>Order Delivery Details</h1>
        Name:
        <input type="text" name="name" placeholder="Placeholder">
        <br>
        Address:
        <input type="text" name="address" placeholder="Placeholder">
        <br>
        Phone:
        <input type="text" name="phone" placeholder="Placeholder">
        <br>
        Rush:
        <input type="checkbox" name="rush" placeholder="Placeholder">
        <br>
        Comments:
        <input type="text" name="comments" placeholder="Type here">
        <br>
        <button type="reset">Cancel Order</button>
        <button type="submit">Place Order</button>
    </form>
</body>
</html>