<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form data-th-action="@{/pizza/order}"
        method="post">
        <h1>Order Delivery Details</h1>
        <div data-th-object="${delivery}">
            Name:
            <input type="text" name="name" placeholder="Placeholder" data-th-field="*{name}">
            <br>
            Address:
            <input type="text" name="address" placeholder="Placeholder" data-th-field="*{address}">
            <br>
            Phone:
            <input type="text" name="phone" placeholder="Placeholder" data-th-field="*{phone}">
            <br>
            Rush:
            <input type="checkbox" name="rush" placeholder="Placeholder" data-th-field="*{rush}">
            <br>
            Comments:
            <input type="text" name="comments" placeholder="Type here" data-th-field="*{comments}">
            <br>
            <button type="reset">Cancel Order</button>
            <button type="submit">Place Order</button>
        </div>
    </form>
</body>
</html>