<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Delivery Details</h1>
    <!-- add thymeleaf object here -->
    <div data-th-object="${summary}">
        Order Number: 
        <a data-th-href="@{/order/{id}(id=*{orderId})}">
            <span data-th-text="*{orderId}"></span>
        </a>
        <br>
        Your Order will be delivered to 
        <span data-th-text="*{address}"></span>
        <br>
        Pizza cost: $
        <span data-th-text="*{pizzaCost}"></span>
        <br>
        Rush:
        <span data-th-text="*{rush}"></span>
        <br>
        Total cost: $
        <span data-th-text="*{total}"></span>
    </div>

    
</body>
</html>